// Variables couleurs
$primary-color: #ff6060;
$secondary-color: #f7f7f7;
$tertiary-color: #FFFFFF;

// Varaibles taille police
$h1: 48px;
$h2: 36px;
$h3: 24px;
$h4: 21px;
$h5: 16px;
$h6: 18px;
$h7: 14px;